body {
    margin: 50px;
    padding: 0px;
    font-size: 15px;
    letter-spacing: -1px;
    list-style-type: none;
    background-size: 340px, auto;
    background-image: url(../imgs/topography.svg), linear-gradient(110deg, #f93d66, #6d47d9);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-attachment: fixed;
    font-weight: 900;
}

.wrapper { 
    display: grid; 
    grid-gap: 20px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "menu menu menu menu"
    "promocao promocao promocao promocao"
    "produtos produtos produtos produtos"
    "detalhe-produtos detalhe-produtos detalhe-produtos detalhe-produtos"
    "rodape rodape rodape rodape";
    
    /*background-color: yellow;*/
}


.menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    align-items: baseline;   
    height: 75px;
    /*background-color: aqua;*/

}

.item {
    background-color: #ffc600;
    flex-grow: 3;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 10px;
    text-transform: uppercase;
    margin: 5px;
}

.gallery{
    grid-area: rodape;
}

.promocao{
    grid-area: promocao;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
}

.promocao .destaque-e{
    width: 70%;
}

.promocao .destaque-d{
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;

}

.promocao .destaque-e .taco{
    display: flex;
    background-image: url(../imgs/img_taco_1.jpg);
    min-height: 400px;
    background-size: cover;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.promocao .destaque-d .promo1{
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    
}
.promocao .destaque-d .promo2{
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;

}

.content{
    grid-area: produtos;
    display: flex;
    flex-direction: row;
    column-gap: 20px;

}

.content .feature{
    display: flex;
    background-color: white;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
    flex-direction: column;

}

.content2{
    grid-area: detalhe-produtos;
    display: flex;
    padding: 50px;
    flex-direction: row;
    column-gap: 20px;
    background-color: white;
}


.gallery{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery h2{
    display: grid;
    grid-gap: 20px;
    grid-column: 1 / -1;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.gallery h2::before{
    display: block;
    content: '';
    height: 10px;
    background-color: #ffc600;
}

.gallery h2::after{
    display: block;
    content: '';
    height: 10px;
    background-color: #ffc600;
}



/*.content{
    background-color: green;
}

.content2{
    /*background-color: gray;
}

.gallery{
    background-color: beige;*
}*/