body {
    margin: 50px;
    padding: 0px;
    font-size: 15px;
    letter-spacing: -1px;
    list-style-type: none;
    background-size: 340px, auto;
    background-image: url(../imgs/topography.svg), linear-gradient(110deg, #f93d66, #6d47d9);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-attachment: fixed;
    font-weight: 900;
}

.wrapper { 
    display: grid; 
    gap: 20px;
    /*background-color: yellow;*/
}


.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    align-items: baseline;   
    align-content: space-around;
    /*background-color: aqua;*/

}

.item {
    background-color: #ffc600;
    flex-grow: 3;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 10px;
    text-transform: uppercase;
    margin: 5px;
}

.sidebar{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "hero hero cta1"
      "hero hero cta2"
    ;
    /*background-color: pink;*/
}

.hero{
    grid-area: hero;
    min-height: 400px;
    background-size: cover;
    padding: 50px;
    display: flex;
    background-position: bottom right;
    background-image:  url(../imgs/img_taco_1.jpg);
    flex-direction: column;
    justify-content: flex-start;
}

.hero h1 p{
    color: aliceblue;
}

.cta1{
    background-color: #ffc600;
    grid-area: cta1;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cta2{
    background-color: #ffc600;
    grid-area: cta2;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.feature{
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid white;

}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}


/*.content{
    background-color: green;
}

.content2{
    /*background-color: gray;
}

.gallery{
    background-color: beige;*
}*/